@import "../variable.scss";

.footer__container {
  background-color: $--brand-color;
  color: #fff;

  .newsletter {
    padding: 20px 0;
    width: 90%;
    margin: 0 auto;
    @media screen and (min-width: 769px) {
      gap: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }

    h1 {
      font-size: 20px;
      padding: 15px 0;
    }

    input {
      all: unset;
      background-color: #fff;
      color: #000;
      padding: 5px;
    }

    button {
      background-color: $--brand-color;
      border: 1px solid;
      padding: 5px 10px;
    }
  }
  .footer {
    width: 90%;
    margin: 0 auto;
    
    @media screen and (min-width: 769px) {
      padding: 30px 0;
      display: grid;
      grid-template-columns: 1fr 2fr;
      place-items: center;
      justify-items: end;
    }

    .info__container {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-top: 30px;

      @media screen and (min-width:426px) {
        flex-direction: row;
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }

    .about {
      display: flex;
      flex-direction: column;
      gap: 10px;

      img {
        object-fit: cover;
      }

      .desp {
        font-size: 18px;
      }
      .links {
        display: flex;
        gap: 10px;

        p {
          a {
            
            i {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    border-top: 1px solid #cccccc8c;
    width: 90%;
    margin: 40px auto 0;
  }
}
