@import "../variable.scss";

.members__container {
  h1 {
    font-size: $--header-font-size;
    padding-block: 50px;
    width: 90%;
    margin: 0 auto;
    text-align: start;
    letter-spacing: 1px;

    @media screen and (min-width: 426px) {
      width: 70%;
      letter-spacing: 4px;
      text-align: center;
    }
  }

  .executive__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;

    h2 {
      font-size: 30px;
      color: $--brand-color;
      padding-block: 5px;
    }
    p {
      font-size: 20px;
    }
  }
  .executive__members {
    width: 90%;
    margin: 0 auto;
    padding-block: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));

    .member {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      img {
        border-radius: 50%;
        aspect-ratio: 1;
        object-fit: cover;
      }

      .links {
        display: flex;
        gap: 2px;
      }
    }
  }
}
