.mobile_navigation__container {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  .links {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;

    a {
        font-size: 18px;
    }
  }
}
